<template>


    <div class="container page_404">


        <h1 class="title_1">{{ $t('page_not_found')}}</h1>


    </div>


</template>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    // @import "./../assets/scss/_variables.scss";

    .page_404 {
        justify-content: center;
        align-items: center;
        display: flex;
        flex: 1;

    }


</style>
