<template>
    <div class="home">

        <div class="box_wrap">


            <div class="container main_screen">

                <div class="main_slogan">
                    <h1 class="title" v-html="$t('hp_h1')"></h1>
                </div>
            </div>


            <div class="main_img_wrap">


                <div class="main_img">
                    <DynamicIcon icon="wireframe_phone4" class="phone"/>
                </div>


            </div>


            <div class="stripe_subscribe">

                <div class="container">


                    <h2 class="title" v-html="$t('subscribe_title')"></h2>


                    <form action="https://t5ceba7db.emailsys1a.net/83/3121/2c869826aa/subscribe/form.html" method="post" class="form_1">
                        <input type="hidden" name="url_ok" :value="subscribe_url_ok"/>
                        <input type="hidden" name="url_error" :value="subscribe_url_error"/>

                        <div style="position:absolute; z-index: -100; left:-6000px;" aria-hidden="true">
                            <label class="field_label required" for="rm_email">E-Mail: </label>
                            <input type="text" class="form_field" name="rm_email" id="rm_email" value="" tabindex="-1"/>
                            <label class="field_label required" for="rm_comment">Comment: </label>
                            <textarea class="form_field" name="rm_comment" tabindex="-1" id="rm_comment"></textarea>
                        </div>

                        <div class="input-group newsletter_input">
                            <div class="form-group ">
                                <input type="email" v-model="email" name="email" id="email" class="form-control" placeholder=" " required>
                                <label for="rm_email" v-bind:class="{ filled : email }">{{$t('email')}}</label>
                            </div>


                            <div class="input-group-append">

                                <button class="btn" type="submit" value="Subscribe" name="subscribe">
                                    <DynamicIcon icon="icon_next" class="img"/>
                                </button>
                            </div>
                        </div>


                    </form>


                </div>

            </div>

        </div>


    </div>
</template>

<script>
    // @ is an alias to /src

    import DynamicIcon from "@/components/DynamicIcon.vue"


    export default {
        name: 'Home',
        components: {
            DynamicIcon
        },
        data() {
            return {
                email: '',
                subscribe_url_ok: this.$env.VUE_APP_URL + '?subscribe=ok',
                subscribe_url_error: this.$env.VUE_APP_URL + '?subscribe=error',

            }
        },

        created() {
            console.log(this.$t('email')) // outputs 'yay'

            if (this.$route.query.subscribe) {


                if (this.$route.query.subscribe == 'ok') {
                    this.$swal(this.$t('email_subscribe_ok_title'), this.$t('email_subscribe_ok_desc'), "success")
                }
                else if (this.$route.query.subscribe == 'error') {

                    var error_desc = this.$t('email_subscribe_error_desc')
                    if (this.$route.query.error_email) {
                        error_desc = this.$route.query.error_email
                    }

                    this.$swal(this.$t('email_subscribe_error_title'), error_desc, "error")
                }
                this.$router.push('/')


            }

        }
        ,
        methods: {}
        ,


        metaInfo() {
            return {
                meta: [
                    {vmid: 'robots', name: 'robots', content: 'index,follow'}
                ]
            }
        }
    }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    @import "./../assets/scss/_variables.scss";

    .home {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex: 1;

    }

    .box_wrap {
        position: relative;
        display: flex;
        flex-direction: column;

    }

    .main_img_wrap {

        display: flex;
        justify-content: center;
    }

    .main_img {

        .phone {
            width: 100%;
            max-width: 300px;
            height: 390px;

        }

    }

    .main_screen {

        position: relative;
        z-index: 1;

    }

    .main_slogan {
        margin-top: 2rem;
        margin-bottom: 4rem;
        display: flex;
        align-items: center;

        justify-content: center;
        text-align: center;

        .title {

            font-size: 1.5rem;
            font-size: 4vmax;
            font-weight: 400;
        }

    }

    .stripe_subscribe {
        position: absolute;
        bottom: 32px;
        width: 100%;
        min-height: 10vh;

        padding: 1rem 0;
        display: flex;
        align-items: center;

        background: rgb(48, 113, 237);
        background: -moz-linear-gradient(90deg, rgba(48, 113, 237, 1) 0%, rgba(11, 22, 93, 1) 100%);
        background: -webkit-linear-gradient(90deg, rgba(48, 113, 237, 1) 0%, rgba(11, 22, 93, 1) 100%);
        background: linear-gradient(90deg, rgba(48, 113, 237, 1) 0%, rgba(11, 22, 93, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3071ed", endColorstr="#0b165d", GradientType=1);

        & > .container {
            display: flex;
            flex-direction: column;
            //  flex-wrap: wrap;
            align-items: center;

            .title {

                font-size: 100%;
                color: #ffffff;
                margin-bottom: 1.5rem;
                font-weight: 400;

            }

            & > * {

            }
        }

    }

    .newsletter_input {

        justify-content: center;
        position: relative;

        .form-group {
            margin-bottom: 0;

            input:focus ~ label, input:not(:placeholder-shown) ~ label {
                top: 7px;
                left: 20px;
            }

            label.filled {
                top: 7px;
                left: 20px;
            }
        }

        .form-control {
            border: 2px solid transparent;
            border-radius: 3rem;
            padding-right: 60px;

            &:focus {
                // border-color: rgba(255, 255, 255, 0.6);
            }
        }

        .input-group-append {

            padding: 2px 0;
            position: absolute;
            right: 0px;
            height: 100%;

        }

        .input-group-append > .btn {

            border-radius: 0 3rem 3rem 0;
            background-color: $color-2;
            padding: 0.5rem 1rem;

            @include trans_1();

            svg {
                @include trans_1();
                width: 24px;
            }

            &:hover {

                background-color: darken($color-2, 20%); // black;

                svg {
                    transform: rotate(360deg);
                }

            }

        }

    }

    /* Extra small devices (phones, 576px and up) */
    @media only screen and (min-width: $screen-xs-min) {

    }

    /* Small devices (tablets, 768px and up) */
    @media only screen and (min-width: $screen-sm-min) {

        .box_wrap {
            position: relative;

            display: initial;
        }

        .main_img_wrap {
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            position: absolute;

            display: block;
            justify-content: initial;

        }

        .main_img {
            width: 50%;
            float: right;

            margin-top: -30px;
            height: 100%;
            overflow: hidden;
            .phone {
                height: 100%;

                width: initial;
                max-width: inherit;
            }

        }

        .main_slogan {
            margin-top: 2rem;
            margin-bottom: 4rem;
            width: 50%;
            min-height: 25vh;

            justify-content: inherit;
            text-align: inherit;
            .title {
                font-size: 2rem;
            }

        }

        .main_screen {

        }

        .main_slogan {

        }

        .stripe_subscribe {

            position: relative;
            z-index: 1;
            bottom: initial;

            padding: 2rem 0;
            margin-bottom: 4.8rem;

            /* fix for IE < 11*/
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                margin-bottom: 1.8rem;
            }

            min-height: 25vh;

            & > .container {
                flex-direction: row;
                // flex-wrap: wrap;

                .title {
                    text-align: right;
                    margin-right: 1.5rem;
                    margin-bottom: 0;
                    font-size: 1.5625rem;

                }

                form {
                    margin-left: 1.5rem;

                }

                & > * {
                    flex: 1;

                }
            }
        }

        .newsletter_input {
            float: left;
            width: auto;
        }

    }

    /* Medium devices (desktops, 992px and up) */
    @media only screen and (min-width: $screen-md-min) {

        .main_slogan {

            .title {
                font-size: 2.5rem;
            }

        }

    }

</style>
