<template>
    <div class="home static_page">

        <div class="container mt-5 mb-5">


                <h1 class="title_1">Legal notice</h1>

                <div>

                    <p>
                        <strong>According to § 5 TMG: </strong> <br>
                        ankhlabs GmbH <br>
                        Marcel-Breuer-Str. 15 <br>
                        80807 München<br>
                    </p>
                    <p>
                        <strong>Represented by the CEO: <br>
                        </strong>Christian Mars, Volkan Yilmaz <br>
                    </p>
                    <p>
                        <strong>Register: </strong> <br>
                        Register court: Amtsgericht München<br>
                        Registration number: HRB 239437<br>
                    </p>
                    <strong>Contact: </strong> <br>
                    E-Mail: {{$env.VUE_APP_EMAIL}}<br>
                    Telephone: {{$env.VUE_APP_PHONE}}<br>
                    <br>
                    <p>
                        <strong>Liability for content</strong><br>
                        The contents of this website were created with great care. For the accuracy, completeness and timeliness of the contents, however,
                        we
                        can not guarantee. As a service provider we are responsible according to § 7 Abs.1 Telemedia Act (TMG) for own content on these
                        pages
                        according to the general laws.
                        According to §§ 8 to 10 TMG, however, we as a service provider are not obligated to monitor transmitted or stored third-party
                        information or to investigate circumstances that indicate an illegal activity. This does not affect obligations to remove or block
                        the
                        use of information under general law. However, liability in this regard is only possible from the moment of knowledge of a specific
                        infringement. Upon notification of appropriate violations, we will remove this content immediately.<br>
                    </p>
                    <p>
                        <strong>Liability for links</strong> <br>

                        Our website contains links to external websites of third parties over whose contents we have no influence. Therefore we can not
                        assume
                        any liability for these external contents. The content of the linked pages is always the responsibility of the respective provider
                        or
                        operator of the pages. The linked pages were checked for possible legal violations at the time of linking. Illegal contents were
                        not
                        recognizable at the time of the respective linking. However, a permanent content control of the linked pages is not reasonable
                        without
                        concrete evidence of a violation of law. Upon notification of violations, we will remove such links immediately.<br>
                    </p>
                    <p>
                        <strong>Copyright</strong> <br>
                        The content and works on our website and these themselves are subject to German copyright law. The reproduction, processing,
                        distribution and any kind of exploitation outside the limits of copyright require our written consent. Downloads and copies of this
                        site are for private, non-commercial use only.
                        As far as the contents on this side were not created by us, the copyrights of third parties are considered. In particular contents
                        of
                        third parties are marked as such. Should you still be aware of a copyright infringement, we ask for a note. Upon notification of
                        violations, we will remove such content immediately.<br>
                    </p>
                    <p>
                        <strong>Data protection</strong> <br>
                        The use of contact information published by third parties for the purpose of sending unsolicited advertising and information
                        materials
                        is hereby expressly excluded. We expressly reserve the right to take legal action in the event of unsolicited promotional
                        information,
                        such as spam e-mails.
                        The protection of your personal data during the collection, processing and use during your visit to our website is very important
                        to
                        us. Your data is protected in accordance with legal regulations. Our Privacy Policy provides information about what information is
                        collected during your visit to the Site, how it is used, and other information.
                        <br>
                    </p>

                </div>
        </div>


    </div>
</template>


<script>
    export default {
        metaInfo() {
            return {
                // if no subcomponents specify a metaInfo.title, this title will be used
                title: this.$i18n.t('pages.legal_notice.title'),

            }
        }

    };
</script>

