<template>
    <div class="home static_page">

        <div class="container mt-5 mb-5">


            <h1 class="title_1">Privacy Policy</h1>

            <!--<a href="https://www.iubenda.com/privacy-policy/91995438" class="iubenda-black no-brand iubenda-embed iub-legal-only iub-body-embed"-->
            <!--title="Privacy Policy">Privacy Policy</a>-->


        </div>


    </div>
</template>

<script>
    export default {
        metaInfo() {
            return {
                // if no subcomponents specify a metaInfo.title, this title will be used
                title: this.$i18n.t('pages.privacy_policy.title'),

            }
        }

    };
</script>

