<template>
    <component :is="dynamicIcon"/>
</template>

<script>
    export default {
        name: 'DynamicIcon',
        props: {
            icon: {
                type: String,
                required: true,
            },
        },
        computed: {
            dynamicIcon() {
                return () => import(

                    /* webpackChunkName: "icons" */
                    /* webpackMode: "lazy-once" */
                    `@/assets/images/${this.icon}.svg`
                    )
            },
        }


    }
</script>