<template>

    <footer>


        <div class="container ">


            <ul class="footer-menu">
                <li v-for="item in footerMenuItems" :key="item.key">


                    <router-link :to="{name: item + '_' + $i18n.locale}" class="link_1">{{
                        $t('pages.'+item+'.menu') }}
                    </router-link>

                </li>
            </ul>


            <div class="copyright_wrap">
                <DynamicIcon icon="logo_ankhlabs" class="img"/>
                <div class="copyright" v-html="$t('copyright', { year: new Date().getFullYear()})"></div>
            </div>


        </div>


    </footer>

</template>

<script>

    import DynamicIcon from "@/components/DynamicIcon.vue"

    export default {
        name: 'MyFooter',
        components: {
            DynamicIcon
        },
        data() {
            return {
                footerMenuItems: [
                    'legal_notice',
                    'privacy_policy',
                ]
            }
        },

    }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    @import "./../assets/scss/_variables.scss";

    footer {
        padding: 2rem 0;
         font-size: 0.8125rem;


        & > .container {
            display: flex;
            flex-direction: column;
            align-items: center;

        }

        .img {
            width: 160px;
            height: 22px;
        }




    }

    .copyright_wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;

    }

    .copyright {
        margin-top: 1rem;
    }

    .footer-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;

        list-style-type: none;
        padding: 0;
        margin: 0;

        li {
            text-align: center;
            padding: 0.2rem 0;

            a {
                color: $color-0;

                @include trans_1();
                &:hover {
                    color: $color-1;
                    text-decoration: none;
                }
            }

            &:last-of-type {
                margin-bottom: 0px;
            }
        }

    }

    /* Extra small devices (phones, 576px and up) */
    @media only screen and (min-width: $screen-xs-min) {

    }

    /* Small devices (tablets, 768px and up) */
    @media only screen and (min-width: $screen-sm-min) {

        footer {

            & > .container {
                flex-direction: row;
                align-items: flex-start;
               justify-content: space-between;

            }

        }

        .copyright_wrap {
            align-items: flex-start;
            margin-top: 0;
            padding-right: 3rem;

            order: -1;

        }

        .copyright {
            margin-top: 0;
            margin-bottom: 1.5rem;
            order: -1;
        }

        .footer-menu {
            /*padding-top: 20px;*/
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: flex-end;
            align-items: initial;

            li {

                padding: 0 10px 0 0 ;
                margin-right: 10px;
                margin-bottom: 0px;
                border-right: 1px solid rgba(0, 0, 0, 0.1);

                &:last-of-type {
                    border: none;
                }

            }

        }

    }

    /* Medium devices (desktops, 992px and up) */
    @media only screen and (min-width: $screen-md-min) {



    }


</style>
