<template>
    <header>


        <div class="container">
            <div class="logo_wrap">
                <router-link :to="{ name: 'home'}" >
                    <DynamicIcon icon="logo_tiqqler" class="img-fluid"/>
                </router-link>
            </div>


        </div>

    </header>
</template>

<script>

    import DynamicIcon from "@/components/DynamicIcon.vue"

    export default {
        name: 'MyHeader',


        components: {
            DynamicIcon
        },


    }
</script>


<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
    @import "./../assets/scss/_variables.scss";

    header {


    }
    .logo_wrap {
        //  background-color: rgba(0, 0, 0, 0.05);

        padding: 1.3rem 0;

        svg {
            height: 42px;
            width: 242px;
        }
    }

    /* Extra small devices (phones, 576px and up) */
    @media only screen and (min-width: $screen-xs-min) {

    }

    /* Small devices (tablets, 768px and up) */
    @media only screen and (min-width: $screen-sm-min) {

    }

    /* Medium devices (desktops, 992px and up) */
    @media only screen and (min-width: $screen-md-min) {

    }


</style>
