<template>


    <ul class="lang_menu  ">
        <li
                class="nav-item"
                v-for="lang in supportedLanguages"
                :key="lang"
                :class="{ 'active': isCurrentLanguage(lang) }"
        >
            <!--<a :href="'/'+lang" @click.prevent="changeLanguage(lang)"  class="nav-link">{{lang}}</a>-->
            <a :href="'/'+lang+'/'" class="nav-link">{{lang}}</a>
        </li>
    </ul>
</template>


<script>
    import {Trans} from '@/plugins/Translation'

    export default {
        computed: {
            supportedLanguages() {
                return Trans.supportedLanguages
            },

        },
        methods: {
            changeLanguage(lang) {

                console.log('changeLanguage');

                const to = this.$router.resolve({params: {lang}})
                console.log(to);
                console.log(to.location);

                return Trans.changeLanguage(lang).then(() => {
                    this.$router.push(to.location)
                })
            },
            isCurrentLanguage(lang) {
                return lang === Trans.currentLanguage
            }
        }
    }
</script>


<style scoped lang="scss">
    @import "./../assets/scss/_variables.scss";

    .lang_menu {
        background-color: $color-4;
        padding: 1rem 1rem;
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: row;
        /*width: 100%;*/
        justify-content: flex-end;

        li {

            margin-left: 0.7rem;

            &:first-of-type {
                margin-left: 0rem;
            }

            &.active a {
                border: 1px solid $color-1;
                background-color: $color-2;
                color: $color-1;
            }

            a {
                border: 1px solid transparent;
                color: $color-0;
                border-radius: 4px;
                font-size: 14px;
                font-weight: 600;
                line-height: 1;
                padding: 5px 8px 4px 8px;
                @include trans_1();

                text-transform: uppercase;
                &:hover, &:focus {
                    background-color: $color-2;
                }

            }
        }
    }

    /* Extra small devices (phones, 576px and up) */
    @media only screen and (min-width: $screen-xs-min) {

        .lang_menu {

            list-style: none;

            position: relative;
            background-color: transparent;
            border: 1px solid transparent;
            padding: 10px;
            border-radius: 20px;
            margin-bottom: 0;

            li {

                &.active a {
                    border: none;
                    background-color: $color-1;
                    color: #ffffff;

                    &:hover {
                        background-color: $color-1;
                        color: #ffffff;
                    }
                }

                a {

                    border-radius: 20px;
                    padding: 5px 6px;

                    color: $color-4;
                    border: none;
                    font-size: 14px;
                    line-height: 1;

                    @include trans_1();

                    text-transform: uppercase;
                    &:hover, &:focus {
                        background-color: rgba(0,0,0,0.05);
                        color: $color-0;
                    }

                }
            }
        }

    }

    /* Small devices (tablets, 768px and up) */
    @media only screen and (min-width: $screen-sm-min) {

    }

    /* Medium devices (desktops, 992px and up) */
    @media only screen and (min-width: $screen-md-min) {

    }
</style>