<template>
    <div class="app_wrap">
        <div id="app">
            <my-header/>
            <div id="main_content">
                <router-view/>
            </div>
            <my-footer/>
        </div>
    </div>
</template>

<script>
    // @ is an alias to /src
    import MyHeader from "@/components/MyHeader.vue";
    import MyFooter from "@/components/MyFooter.vue";

    export default {
        name: 'home',
        components: {
            MyHeader,
            MyFooter,

        },

        metaInfo() {

            console.log('created!');
            return {
                // if no subcomponents specify a metaInfo.title, this title will be used

                title: this.$i18n.t('hp_meta_title'),

                // all titles will be injected into this template
                titleTemplate: '%s | ' + this.$i18n.t('web_title'),
                meta: [
                    {vmid: 'description', name: 'description', content: this.$i18n.t('hp_meta_desc')},
                    {vmid: 'robots', name: 'robots', content: 'noindex,follow'},


                ],
                link: this.addMetaLinks()
            }
        },

        methods: {

            addMetaLinks() {

                var link = []

                link.push({rel: 'canonical', href: process.env.VUE_APP_URL + '/' })


                return link
            },

        }


    }

</script>


<style lang="scss">

    @import "../node_modules/bootstrap/scss/bootstrap.scss";
    @import "assets/scss/main.scss";
    @import "assets/scss/main_responsive.scss";


</style>


