// variables
$screen-xs-min: 576px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1140px;
$screen-elg-min: 1600px;

$screen-exs-max: ($screen-xs-min - 1);
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1);

// Typography
$default-font-family: 'Rubik', sans-serif;
$font-size-base: 16px;

// Colors

$color-0: #838383;
$color-1: #3072ed;
$color-2: #38e39f;
$color-3: rgba(0, 0, 0, 0.6);

$bck-color-1: #f8f9fa;

@mixin trans_1($duration : 0.3s) {
  transition: $duration all ease-in-out;
}

@mixin trans_stretch($property: all, $duration: 0.5s, $ease: cubic-bezier(0.65,-0.25,0.25, 1.95)) {
  transition: $property $duration $ease;
}

/* animations */

@keyframes animate_down {
  0% {
	margin-top: 0;
  }
  50% {
	margin-top: 10px;
  }
  100% {
	margin-top: 0;
  }

}

@keyframes animate_left {
  0% {
	margin-right: 0;
  }
  50% {
	margin-right: 5px;
  }
  100% {
	margin-right: 0;
  }

}

@keyframes pulse {
  0% {
	transform: scale(1);

  }
  30% {
	transform: scale(1.1);
  }
  50% {
  }
  70% {
	transform: scale(1);
  }
  100% {
	transform: scale(1);
  }

}

@keyframes car_smoke {
  0% {
	//transform: rotate(0deg);

	transform: translate(-350px, -50px);
  }
  25% {
	transform: translate(-345px, -45px);
  }
  50% {
	transform: translate(-355px, -40px);
  }

   75% {
	transform: translate(-345px, -55px);
  }

  100% {
	transform: translate(-350px, -50px);
	//transform:rotate(360deg);
  }

}
@keyframes car {
  0% {
	//transform: rotate(0deg);

	transform: translate(0px, 0px) scale(0.5);
  }
  10% {
	transform: translate(-5px, 0px) scale(1.05) rotate(1deg);
  }
  50% {
	transform: translate(0px, 0px)  scale(1) rotate(-1deg);
  }

   90% {
	transform: translate(0px, 0px) scale(0.5) rotate(1deg);
  }

  100% {
	transform: translate(0px, 0px) scale(0.5);
	//transform:rotate(360deg);
  }

}

@keyframes hand {
  0% {
	//transform: rotate(0deg);

	transform: translate(0px, 0px);
  }

  50% {
	transform: translate(-10px, -15px) rotate(10deg);
  }



  100% {
	transform: translate(0px, 0px);
	//transform:rotate(360deg);
  }

}





