// Variables
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@import "variables";

// remove all doted outline in bootstrap
a, a:active, a:focus,
button, button:focus, button:active,
.btn, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus {
  outline: none !important;
  outline: 0 !important;
}

input::-moz-focus-inner {
  border: 0 !important;
}

/*selection color */
::selection {
  background: $color-1;
  color: #FFF;
}

::-moz-selection {
  background: $color-1; /* Firefox */
  color: #FFF;
}

/* basic layout */

html, body {
  height: 100%;
}

html {

  box-sizing: border-box;
}

body {

  color: $color-0;
  font-family: $default-font-family;
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
  background-color: $bck-color-1;

}

/*fix  for IE 11 */
.app_wrap {
  display: flex;

}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  flex: 1;
}

#main_content {
  flex: 1 0 auto;
  display: flex;

  flex-direction: column;
}

footer {
  //flex-shrink: 0;
}

[v-cloak] {
  display: none;
}

a {
  @include trans_1();
}

.title_1 {
  font-size: 1.625rem;
  line-height: 1.2;
  color: $color-1;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;

}

.copyright {
  strong {
	font-weight: 500;
  }
}

.stripe_subscribe {

  .title {

	span {
	  font-weight: 500;
	}
  }
}

.main_slogan {

  .title {
	span {
	  font-weight: 500;
	}
  }

}

.main_img {
  .phone {

	.car {
transform-origin: 50% 50%;
 animation: car 15s linear infinite;
	}

    .smoke {

	 // animation: car_smoke 1s linear infinite;
	}

    .hand {
      transform-origin: 50% 50%;
      animation: hand 1.5s linear infinite;
    }
  }

}

/* forms */

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  -webkit-text-fill-color: $color-2;
  -webkit-box-shadow: 0 0 0px 1000px #ffffff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form_1 .form-group {
  margin-bottom: 20px;
  position: relative;
  //overflow: hidden;
}

.form_1 .form-group input ~ label, .form_1 .form-group textarea ~ label, .form_1 .form-group select ~ label {
  position: absolute;
  top: 19px;
  left: 20px;
  font-size: 14px;
  color: $color-1;

  pointer-events: none;
  margin-bottom: 0;
  transition: .2s;

}

/* fix for IE */
.form_1 .form-group label.filled {
  top: 6px;
  left: 10px;
  font-size: 12px;
  line-height: 1;
}

.form_1 .form-group input:focus ~ label,
.form_1 .form-group select:focus ~ label,
.form_1 .form-group textarea:focus ~ label,
.form_1 .form-group textarea:not(:placeholder-shown) ~ label,
.form_1 .form-group select:not([value=""]) ~ label,
.form_1 .form-group label.filled,
.form_1 .form-group input:not(:placeholder-shown) ~ label {
  top: 6px;
  left: 10px;
  font-size: 12px;
  line-height: 1;
}

.form_1 .form-group input:focus ~ label,
.form_1 .form-group textarea:focus ~ label {
  color: $color-3;
}

.form-control {
  height: 58px;
  font-size: 1rem;
  line-height: 1;
  border: 2px solid $color-2;
  border-radius: 0.4rem;

  box-shadow: none;
  outline: 0;
  color: $color-1;
  font-weight: bold;

  background-color: #ffffff;

}

.form_1 .form-control {
  padding: 20px 18px 14px 18px;
}

.form-control::placeholder {

}

.form-control:focus {
  border-color: $color-0;
  outline: 0;
  box-shadow: none;
  color: $color-1;
}


/*VueSwal*/
.swal-text {
text-align: center;
}