// Variables
@import "variables";

/* 768 -  991) */
@media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {

}

/* 992 -  1199) */
@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
}

/* CSS responsive Document */

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Extra small devices (phones, 576px and up) */
@media only screen and (min-width: $screen-xs-min) {

  /* navbar menu */

}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Extra small devices (phones, less than 575px) */
@media only screen and (max-width: $screen-exs-max) {

}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Small devices (phones, less than 768px) */
@media only screen and (max-width: $screen-xs-max) {

}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Small devices (tablets, 768px and up) */
@media only screen and (min-width: $screen-sm-min) {

  .title_1 {
	font-size: 2rem;
  }

}

/*  (less than 991px) */
@media only screen and (max-width: $screen-sm-max) {

}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: $screen-md-min) {

}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* Large devices (large desktops, 1200px and up) */
@media only screen and (min-width: $screen-lg-min) {

}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */

/* EXTRA Large devices (large desktops, 1600px and up) */
@media only screen and (min-width: $screen-elg-min) {

}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------- */
